{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{% static "img/about-img.jpg" %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Us</h1>
                    <hr class="small">
                    <span class="subheading">This is what we do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Located in the heart of Cherating Beach. One of Malaysia best surfing spots. a combination of a malaysian village and a long streached beach.</p>
            <p>At Kam's Surf we do professional water sports such as windsurfing, kite surfing, surfing and the first in Malaysia to venture into a new experience of X-Sailing (land yachting).</p>
            <p>Too lazy to do sports? Just come and chill, enjoy a drink.</p>
        </div>
    </div>
</div>

<hr>
{% endblock %}
