{% extends 'base.html' %}

{% block body %}
<div class="container" style="margin-top: 80px;">
<div class="row">
{% for album in albums %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        {% if album.gallery_set.all > 0 %}
            {% for img in album.gallery_set.all %}
                {% if img.cover %}
                    <img src="{{img.image.url}}" alt="...">
                {% endif %}
            {% endfor %}
        {% endif %}
      <div class="caption">
        <h3>{{album.name}}</h3>
        <p>{{album.desc}}</p>
        <p><a href="/gallery/{{album.pk}}" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>
{% endblock %}
