{% load staticfiles %}
<!-- Set your background image for this header on the line below. -->
<!-- background-image: url('img/contact-bg.jpg') -->
<header class="intro-header" style="background-image: url('{% static "img/bg-img.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Kam's Surf Shack</h1>
                        <hr class="small">
                        <span class="subheading">Experience Cherating</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

