{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
{% include 'main/header.html' %}
<div class="container">
<div class="row">
    <div class="col-md-4 col-xs-12">
        <img class="img-responsive img-thumbnail" src="{% static "img/surfing1.png" %}" alt="...">
        <div class="caption">
            <h3>Surfing</h3>
            <p>Surfing is a surface water sport in which the wave rider, referred to as a surfer, rides on the forward or deep face of a moving wave, which is usually carrying the surfer towards the shore.</p>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <img class="img-responsive img-thumbnail" src="{% static "img/kite-surfing1.png" %}" alt="...">
        <div class="caption">
            <h3>Kiteboarding</h3>
            <p>Kiteboarding is a surface water sport combining aspects of wakeboarding, snowboarding, windsurfing, surfing, paragliding, skateboarding and gymnastics into one extreme sport. A kiteboarder harnesses the power of the wind with a large controllable power kite to be propelled across the water on a kiteboard similar to a wakeboard or a small surfboard, with or without footstraps or bindings.</p>
    </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <img class="img-responsive img-thumbnail" src="{% static "img/sup.png" %}" alt="...">
        <div class="caption">
            <h3>SUP</h3>
            <p>A sport originating in Hawaii as an offshoot of surfing. Unlike traditional surfing where the rider is sitting until a wave comes, stand up paddle boarders maintain an upright stance on their boards and use a paddle to propel themselves through the water.</p>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <img class="img-responsive img-thumbnail" src="{% static "img/kayak.png" %}" alt="...">
        <div class="caption">
            <h3>Kayak</h3>
            <p>Kayaking is the use of a kayak for moving across water. It is distinguished from canoeing by the sitting position of the paddler and the number of blades on the paddle.</p>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <img class="img-responsive img-thumbnail" src="{% static "img/land-yacht.png" %}" alt="...">
        <div class="caption">
            <h3>Land Sailing</h3>
            <p>Land sailing, also known as 'sand yachting' or 'land yachting', is the act of moving across land in a wheeled vehicle powered by wind through the use of a sail. The term comes from analogy with (water) sailing. Historically, land sailing was used as a mode of transportation or recreation. Since the 1950s it has evolved primarily into a racing sport.</p>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <img class="img-responsive img-thumbnail" src="{% static "img/wind-surfing.png" %}" alt="...">
        <div class="caption">
            <h3>Wind Surfing</h3>
            <p>Windsurfing is a surface water sport that combines elements of surfing and sailing. It consists of a board usually 2.5 to 3 meters long, with displacements typically between 60 to 250 litres, powered by wind on a sail. The rig is connected to the board by a free-rotating universal joint and consists of a mast, 2-sided boom and sail. The sail area generally ranges from 2.5m to 12m depending on the conditions, the skill of the sailor, the type of windsurfing being undertaken and the weight of the person wind surfing.</p>
        </div>
    </div>
</div>
</div>

{% endblock %}
