{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
{% include 'main/header.html' %}
<div class="row">
    <div class="col-xs-2 col-md-2">
        <img class="img-responsive img-thumbnail" src="{% static "img/surfing1.png" %}" alt="...">
        <div class="caption">
            <h3>Surfing</h3>
            <p>Lorem ipsum dolor sit amet, ex ius autem malis delectus, dictas gubergren scribentur id vis, utamur detracto voluptatibus in has.<>/p>
        </div>
    </div>
    <div class="col-xs-2 col-md-2">
        <img class="img-responsive img-thumbnail" src="{% static "img/kite-surfing1.png" %}" alt="...">
        <div class="caption">
            <h3>Kite Surfing</h3>
            <p>Lorem ipsum dolor sit amet, ex ius autem malis delectus, dictas gubergren scribentur id vis, utamur detracto voluptatibus in has.</p>
    </div>
    </div>
    <div class="col-xs-2 col-md-2">
        <img class="img-responsive img-thumbnail" src="{% static "img/sup.png" %}" alt="...">
        <div class="caption">
            <h3>SUP</h3>
            <p>Lorem ipsum dolor sit amet, ex ius autem malis delectus, dictas gubergren scribentur id vis, utamur detracto voluptatibus in has.</p>
        </div>
    </div>
    <div class="col-xs-2 col-md-2">
        <img class="img-responsive img-thumbnail" src="{% static "img/kayak.png" %}" alt="...">
        <div class="caption">
            <h3>Kayak</h3>
            <p>Lorem ipsum dolor sit amet, ex ius autem malis delectus, dictas gubergren scribentur id vis, utamur detracto voluptatibus in has.</p>
        </div>
    </div>
    <div class="col-xs-2 col-md-2">
        <img class="img-responsive img-thumbnail" src="{% static "img/land-yacht.png" %}" alt="...">
        <div class="caption">
            <h3>Land Yachting</h3>
            <p>Lorem ipsum dolor sit amet, ex ius autem malis delectus, dictas gubergren scribentur id vis, utamur detracto voluptatibus in has.</p>
        </div>
    </div>
    <div class="col-xs-2 col-md-2">
        <img class="img-responsive img-thumbnail" src="{% static "img/wind-surfing.png" %}" alt="...">
        <div class="caption">
            <h3>Wind Surfing</h3>
            <p>Lorem ipsum dolor sit amet, ex ius autem malis delectus, dictas gubergren scribentur id vis, utamur detracto voluptatibus in has.</p>
        </div>
    </div>
</div>

{% endblock %}
