{% extends 'base.html' %}
{% block body %}
{% include 'main/header.html' %}
<div class="container">
    <table class="table">
        <tr>
            <td><b>Set</b></td>
            <td><b>Time</b></td>
            <td><b>Price</b></td>
            <td><b>Lesson</b></td>
        </tr>
        <tr>
            <td>X-Sail</td>
            <td>1/2 Hour</td>
            <td>RM 60</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>1 Hour</td>
            <td>RM 100</td>
            <td></td>
        </tr>
        <tr>
            <td>Kite</td>
            <td>1 Hour</td>
            <td>RM 150</td>
            <td>RM 300 / 1 Hour</td>
        </tr>
        <tr>
            <td>Windsurfing</td>
            <td>1 Hour</td>
            <td>RM 80</td>
            <td>RM 150 / 1 Hour</td>
        </tr>
        <tr>
            <td>Surf-Board (Soft-Top)</td>
            <td>1/2 Day</td>
            <td>RM 40</td>
            <td>RM 120 / 1 Hour</td>
        </tr>
        <tr>
            <td></td>
            <td>1 Day</td>
            <td>RM 70</td>
            <td>RM 120 / 1 Hour</td>
        </tr>
        <tr>
            <td>Surf-Board (Fiber)</td>
            <td>1/2 Day</td>
            <td>RM 50</td>
        </tr>
        <tr>
            <td></td>
            <td>1 Day</td>
            <td>RM 80</td>
        </tr>
        <tr>
            <td>SUP</td>
            <td>1 Hour</td>
            <td>RM 50</td>
        </tr>
        <tr>
            <td></td>
            <td>2 Hours</td>
            <td>RM 80</td>
        </tr>
        <tr>
            <td></td>
            <td>1/2 Day</td>
            <td>RM 100</td>
        </tr>

    </table>
</div>
{% endblock %}
